body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #090040;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.images-container {
  background-color: #FFCC00;
  width: 500px;
  max-width: 550px;
  text-align: center;
}

.main-image {
  margin: auto;
  width: 70%;
  background-color: blue;
  height: 450px;
  margin-bottom: 20px;
  transition: 0.3s ease all;
  border: 10px solid #471396;
}

.main-image img {
  width: 100%;
  height: 100%;
  transition: 0.3s ease all;
}

.thumb-images {
  height: 100px;
  max-height: 100px;
  display: flex;
  justify-content: space-evenly;
}

.thumb {
  width: calc((100% / 5) - 30px);
  height: 100%;
  transition: 0.3s ease all;
}

.thumb:hover {
  transform: scale(1.5);
}

.selected {
  border: 20px solid #B13BFF;
}
